html,
body,
div,
h1,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 100vw;
}

.static {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f3ef;

  &.header {
    min-height: 350px;
    & h1 {
      color: #444;
      opacity: 0;
      transform: scale(2);
      transition: all 500ms ease;
      &.onScreen {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  &.nav {
    list-style-type: none;
    flex-flow: row;
    justify-content: center;
    width: 100vw;
    & li {
      padding: 1rem 2rem;
    }
    &.sticked {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }
}

.tween-one {
  width: 100%;
  opacity: 0;
  color: #fff;
  font-size: 32px;
  padding-top: 160px;
  text-align: center;
  padding-bottom: 50px;
}

.demo {
  margin: 0 auto;
  width: 600px;
  height: 80px;
  background-color: #133252;
  margin-bottom: 30px;
  border-radius: 4px;
}

.demo2 {
  margin: 0 auto;
  width: 600px;
  height: 80px;
  background-color: #e1ff9a;
  margin-top: 30px;
  border-radius: 4px;
}

.career__prllx {
  line-height: 120px;
  width: 120px;
  height: 120px;
  text-align: center;
  font-size: 24px;
}

.last {
  &__inner {
    width: 100vw;
  }
}