html,
body,
div,
h1,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
}

.first {
  height: 100vh;
}

.first video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  /*background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;*/
  background-size: cover;
  transition: 1s opacity;
}

.first .stopfade {
  opacity: .5;
}

.tween-one {
  width: 100%;
  opacity: 0;
  color: #fff;
  font-size: 32px;
  padding-top: 160px;
  text-align: center;
  padding-bottom: 50px;
}

.demo {
  margin: 0 auto;
  width: 600px;
  height: 80px;
  background-color: #133252;
  margin-bottom: 30px;
  border-radius: 4px;
}

.demo2 {
  margin: 0 auto;
  width: 600px;
  height: 80px;
  background-color: #E1FF9A;
  margin-top: 30px;
  border-radius: 4px;
}

.parallax-shape {
  line-height: 120px;
  width: 120px;
  height: 120px;
  text-align: center;
  font-size: 24px;
}

.second__text {
  max-width: 38em;
  margin: 0 auto;
  font-family: "Tiempos",Georgia,serif;
}

.home h2 {
  color: red;
}

.last__inner {
  width: 100vw;
}